<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../password-toggle.html">


<dom-module id="password-toggle-demo">
  <template>
    <style>
      :host {
        font-family: sans-serif;
      };
    </style>

    <h3>Statically-configured password-toggle</h3>
    <password-toggle data-password-selector="input[data-is-password='true']" pressed="{{isFav}}"></password-toggle>
    <input type="password" name="password" data-is-password="true" value="123456">

    <h3>Data-bound password-toggle</h3>
    <!-- use a computed binding to generate the message -->
    <div><span>[[message(isFav)]]</span></div>
  </template>

  <script>
    Polymer({
      is: "password-toggle-demo",
      message: function(fav) {
        if (fav) {
          return "You really like me!";
        } else {
          return "Do you like me?";
        }
      }
    });
  </script>
</dom-module>
